.single-question{
    text-align: left;
    max-width: 720px;
    width: 100%;
    
}
.answer-wrapper{
    width: 100%;
    margin-top: 32px;
  
}
.answer-wrapper input{
   width: 100%;
   color: #fff;
   border: none;
   outline: none;
   font-size: 30px;
   box-shadow: rgba(255, 255, 255, 0.3) 0px 1px;
   padding-bottom: 8px;
   background-color: inherit;
}
.answer-wrapper input::placeholder{
    font-weight: 400;
    color:rgba(255, 255, 255, 0.5) ;
}
.answer-wrapper input:focus{
    box-shadow: rgba(255, 255, 255) 0px 2px;
}
@media screen and (max-width:580px){
    .answer-wrapper input{
        font-size: 20px;
    }
}