/* Error container */
.error-wrapper{
    display: flex;
    align-items: center;
    background-color: rgb(247, 230, 230);
    color: rgb(175, 4, 4);
    min-height: 28px;
    padding: 4px 12px 4px 8px;
    width: max-content;
    margin-top: 16px;
    border-radius: 3px;
}
/* Error text */
.error-wrapper p{
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 5px;
}