.logo{
    /* Position is set to absolute */
    position: absolute;
    top: 10px;
    left: 0;
    /* Width and spacing */
    width: 110px;
    padding: 10px;
    /* display flex to center the logo horizontally */
    display: flex;
    justify-content: center;
    z-index: 1000;
}
.logo img{
    /* To take 100% of the width of logo div  */
    width: 100%;
    /* to maintain aspect ratio */
    height: auto;
    animation: logoAppear 2s forwards ease-out;
    position: relative;
}
@keyframes logoAppear{
    from{
       top: 10px;
       opacity: 0;
    }to{
        top: 0;
        opacity: 1;
    }
}