.swiper{
    height: 100%;
    width: 100%;
  padding: 10px;
 
}
.swiper-slide{
    text-align: center;
  font-size: 18px;
 color: white;
 
  /* Center slide text vertically */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.moreInfo{
  margin-top: 8px;
  font-size: 20px;
line-height: 28px;
color: rgba(255, 255, 255, 0.7);
font-family: inherit;
}